body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    padding: 10px;
    background: #f2f2f2;
    margin: 0;
    text-align: center;
}

#map {
    height: 90vh;
    width: 100vw;
}
